.sidenav{
    background-color: #94c2f7;
    width: 200px;
}
.sidenav a{
    color: #fff;
}
.sidenav i{
    padding-right: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* não centralizar! */
    padding-left: 16px;
  }
  

.content{
    padding: 16px;
    background-color: #fff;
}