button {
    margin-bottom: 30px;
}
.custom-button {
  background-color: #94c2f7; /* verde */
  color: white; /* cor do texto */
}

.custom-button:hover {
  background-color: #1c1d1a; /* tom mais escuro ao passar o mouse */
}